


.linha{
  display: flex;
  flex-flow: row wrap;
  background-color: #7089b4;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.rect{
  position: relative;
width: 60vw;
height: 12vh;
left: 140vh;
top: -55vh;

background: #a0adbe;
box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
border-radius: 40px;
}
.rect2{
  position: absolute;
width: 40vw;
height: 10vh;
left: -4vw;
top: 4vh;
margin-bottom: -20vh;


display: flex;
justify-content: center;
/* align-items: center; */

background: #a0adbe;
box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
border-radius: 40px;
}
.rect3{
  position: relative;
  width: 60vw;
  height: 56vh;
  left: 140vh;
  top: -50vh;
  
  background: #a0adbe;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.pdr{
  position: relative;
font-family: 'Monoton', cursive;
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 48px;
left: 2vw;
top: -1vh;

color: #7089b4;
border: white;
}

.npd{
  position: relative;
}
.cp{
  position: absolute;
  left: 20vw;
  top: 17vh;
  top: 1vw;
  color: #2d333d;
}

.coluna-50 {

  width: 80%;
  
}



.coluna-60 {
  width: 20%;
  color: rgb(255, 255, 255);
  background-color: #333;
  border-Radius: 10;
  display: flex;
  float:right;
  Height: 30;
  margin-right: 130;
  width: 300
}

.home {
  margin-right: 20ch;
  margin-left: 3ch;
  width: 100%;
  height: 100vh;
  display: inline-flex;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.room{
  position: relative;
  width: 60vw;
  height: 73vh;
  left: 4vw;
  top: 18vh;

  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
border-radius: 40px;
}
