
.linha{
  display: flex;
  flex-flow: row wrap;
  padding:10px;
  background-color: rgb(1, 9, 24);
}


.coluna-50 {

  width: 80%;
  
}



.coluna-60 {
  width: 20%;
  color: rgb(255, 255, 255);
}

.home {
  margin-right: 20ch;
  margin-left: 3ch;
  width: 70%;
  height: 90vh;
  display: inline-flex;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
